#MuiFab-label {
    #MuiSpeedDialIcon-root {
        height: 30px;
    }
}

#FilterDialtooltip-actions {
    padding-left: 108px;
    width: 100%;
    display: flex;
    justify-content: space-around;

    // .MuiSpeedDialAction-tooltipPlacementLeft {
    //     margin-left: 120px;
    // }

    // #FilterDialtooltip-action-2,
    // #FilterDialtooltip-action-3 {
    //     margin-left: 150px;
    // }
}
